!!! 5
html
  body
    title Shared workers: demo 3
    pre#log.
      \nLog:      
    button.js-add-iframe Add iFrame
    button.js-add-window Add Window
    br
    form.js-messenger
      input.js-message(placeholder="type a message")
      input(type="submit", value="Send")
    br
    script(src="pakmanaged.js")
    script(src='index.js')
