!!! 5
html
  head
    title Shared workers: demo 3 inner frame
  body
    button.js-bark Bark!
    br
    form.js-messenger
      input.js-message(placeholder="type a message")
      input(type="submit", value="Send")
    br
    pre#log.
      \nInner log:      
    script(src='pakmanaged.js')
    script(src='inner.js')
